.speech {
    font-family:fantasy;
    font-size:16px;
    color: black;
  }

  .direction {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color:khaki;
  }
  
  .direction:hover {
    background-color:aqua;
    color: white;
  }
  
  .Hovstad {
    color:brown;
  }
  
  .PeterStockmann {
    color:fuchsia;
  }
  
  .Aslaksen {
    color: purple;
  } 
  