.speech {
    font-family:sans-serif;
    font-size:14px;
    color: black;
  }
  .direction {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color:khaki;
  } 
  .direction:hover {
    background-color:#cae67e;
    color:darkred;
  }
  .Hovstad {
    color:blue;
  }
  .PeterStockmann {
    color:fuchsia;
  }
  .Aslaksen {
    color:brown;
  }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 24px;
}

th, td {
    border: 3px solid #10e71e;
    padding: 15px;
    text-align: center;
    color:darkorchid;
}

th {
    background-color: #cae67e;   
}

tr:nth-child(even) {
    background-color:burlywood;
  }
.Hovstad:hover {
    text-shadow:2px 2px 4px #FF5733; 
    border: 2px solid #FF5733;
    cursor: pointer; 
}
.PeterStockmann:hover {
    text-shadow:2px 2px 4px chartreuse; 
    border:2px solid rgb(128, 204, 240);
    cursor: pointer; 
}
.Aslaksen:hover {
    text-shadow:2px 2px 4px fuchsia; 
    border:2px solid lawngreen;
    cursor: pointer; 
}
li {
  display: inline;
}
li {
  float: left;
}

li {
  float: left;
}

li {
  display: block;
  padding: 7px;
  background-color:coral;
}




  