.speech {
    font-family:sans-serif;
    font-size:14px;
    color: black;
  }

  .direction {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color:khaki;
  }
  
  .direction:hover {
    background-color:#cae67e;
    color:darkred;
  }
  
  .Hovstad {
    color:blue;
  }
  
  .PeterStockmann {
    color:fuchsia;
  }
  
  .Aslaksen {
    color:brown;
  }

.actorstable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: bottom 24px;
}

.actorstable th, .actorstable td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    color:darkorchid;
}

.actorstable th {
    background-color: #cae67e;
    color: white;
}
.actorstable tr {
    background-color: #f2f2f2;
}

.actorstable th, .actorstable td {
    width: 33.33%;
}
.Hovstad:hover {
    text-shadow:2px 2px 4px #FF5733; 
    border: 2px solid #FF5733;
    cursor: pointer; 
}
.PeterStockmann:hover {
    text-shadow:2px 2px 4px chartreuse; 
    border:2px solid rgb(128, 204, 240);
    cursor: pointer; 
}
.Aslaksen:hover {
    text-shadow:2px 2px 4px fuchsia; 
    border:2px solid lawngreen;
    cursor: pointer; 
}



  